
* {
	border: none;
	font-family: "0xProto Nerd Font";
}

window#waybar {
	background-color: transparent;
}

/* ───────── Tooltips ───────── */

tooltip {
	background-color: rgba(106, 13, 69, 0.85); /* тёмный пурпур */
	border: 2px solid #FF4FA3; /* ярко-розовый */
}

tooltip label {
	color: #F7C6D9; /* бледно-розовый */
}

/* ───────── Общие модули ───────── */

#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#user,
#bluetooth,
#custom-power,
#custom-media,
#custom-notifications,
#workspaces,
#power-profiles-daemon,
#language,
#custom-music {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;

	font-size: 12px;
	color: #F7C6D9; /* мягкий светлый текст */
	background-color: rgba(10, 10, 10, 0.85); /* угольный */
	border: 2px solid #2E2E2E; /* графит */
	border-radius: 10px;
}

/* ───────── Battery ───────── */

#battery.charging,
#battery.plugged {
	color: #BFBFBF; /* металлический серебристый */
	background-color: rgba(47, 113, 62, 0.75);
	border: 2px solid #6A0D45;
}

#battery.critical:not(.charging) {
	color: #FF007F; /* неоновый розовый */
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	background-color: rgba(10, 10, 10, 0.85);
	border: 2px solid #FF007F;
}

/* ───────── Blink ───────── */

@keyframes blink {
	to {
		color: #F7C6D9;
	}
}

/* ───────── Power button ───────── */

#custom-power {
	margin-right: 10px;
	padding-right: 12px;
	border-color: #D9007E; /* электрическая фуксия */
}

/* ───────── Workspaces ───────── */

#workspaces button {
	font-size: 14px;
	padding: 1px 5px;

	color: #F7C6D9;
	background: transparent;
}


#workspaces button.focused,
#workspaces button.active {
	background-color: #6A0D45; 
	color: #FF4FA3;
	border-radius: 6px;
}
