// spawn-at-startup "waybar"
// spawn-at-startup "awww-daemon"
// spawn-at-startup "awww_init.sh"
spawn-at-startup "xwayland-satellite" ":0"
spawn-at-startup "dunst" 
spawn-at-startup "clipse" "-listen"
spawn-at-startup "buckle" "-v" "-g" "10"
spawn-at-startup "noctalia" "&"
spawn-at-startup "niri-float-sticky" "-app-id" "one.alynx.showmethekey"
//spawn-at-startup "showmethekey-gtk" "-k" "-A" "-C"
