prefer-no-csd
layout {
    gaps 10
    default-column-width {
        proportion 0.6
    }
	always-center-single-column    
    border {
        on
        width 2
        active-color "#FF2D9B"
        inactive-color "#4c222a"
    }
    
    focus-ring {
        off
    }
    
      shadow {
        // off
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
        // inactive-color "#00000054"
    }

    tab-indicator {
        on
        gap 5
        width 5
        length total-proportion=1.0
        position "left"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#FF2D9B"
        inactive-color "#4c222a"
    }
        insert-hint {
        on
        color "#ffc87f80"
    }
}


animations {
    slowdown 0.9

    workspace-switch {
        // duration-ms 400
        spring damping-ratio=1.1 stiffness=800 epsilon=0.02
    }
    horizontal-view-movement {
        duration-ms 300
    }
    window-open {
        // duration-ms 500
        spring damping-ratio=1.1 stiffness=800 epsilon=0.02
    }
    window-resize {
        duration-ms 450
    }
    window-close {
        duration-ms 450
    }

}

