window-rule {
	geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="^file_chooser$"
    open-floating true

    default-column-width { proportion 0.4; }
    default-window-height { proportion 0.4; }
}

window-rule {
	match app-id="zen"
    default-column-width {
        proportion 1.0
    }
}

window-rule {
	match app-id="obsidian"
    default-column-width {
        proportion 1.0
    }
}
window-rule {
	match app-id="Aseprite"
	default-column-width {
		proportion 1.0
	}
}

window-rule {
	match app-id="Ardour"
	default-column-width {
		proportion 1.0
	}
}

window-rule{
	match app-id=r#"io.github.tdesktop_x64.TDesktop"#
    default-column-width {
        proportion 0.5
    }
}

window-rule {
	match app-id=r#"org.kde.kdenlive"#
    open-floating true

}
window-rule {
    match app-id="^typing$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id="^clipse$"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}

window-rule {
    match app-id="^bar-app$"
    open-floating true
    default-column-width { proportion 0.4; }
    default-window-height { proportion 0.4; }
}

window-rule {
	match app-id="^music$"
	open-floating true
	default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}

window-rule {
    match app-id="^one.alynx.showmethekey$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
}

window-rule {
	match is-floating=true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
}

